<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>后台首页</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="后台首页">
	<meta name="author" content="lgy">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/materialdesignicons.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
</head>
<body>
<h1 style="text-align: center">欢迎进入校友管理系统</h1>

</body>
</html>