<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>行业联谊-内推招聘</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="审核">
	<meta name="author" content="yinqi">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">

</head>
<body>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">

				<form action="/don/updateDonById" method="post" class="row" >
					<input type="hidden" name="donId" th:value="${tbDon.donId}">
					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<label for="donName">捐赠名称</label>
						<input type="text" class="form-control" id="donName" name="donName" th:value="${tbDon.donName}" readonly/>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>

					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<label for="donDesc">捐赠内容</label>
						<textarea type="text" class="form-control" id="donDesc" name="donDesc" th:text="${tbDon.donDesc}" readonly></textarea>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>


					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<input type="hidden" name="donPer" th:value="${tbDon.donPer}">
						<label for="PerName">发布人</label>
						<input type="text" class="form-control" id="PerName" name="" th:value="${tbDon.tbStu.name}" readonly/>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>

					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<label for="donTime">发布时间</label>
						<input type="text" class="form-control" id="donTime" name="donTime" th:value="${#temporals.format(tbDon.donTime,'yyyy-MM-dd HH:mm:ss')}" readonly/>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>

					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<label>审核状态</label>
						<div class="clearfix">
							<label class="lyear-radio radio-inline radio-primary">
								<input type="radio" name="donStatus" value="0" th:checked="${tbDon.donStatus==0}"><span>未审核</span>
							</label>
							<label class="lyear-radio radio-inline radio-primary">
								<input type="radio" name="donStatus" value="1" th:checked="${tbDon.donStatus==1}"><span>审核通过</span>
							</label>
							<label class="lyear-radio radio-inline radio-primary">
								<input type="radio" name="donStatus" value="2" th:checked="${tbDon.donStatus==2}"><span>审核不通过</span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>

					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">
						<label for="donOpinion">审核意见</label>
						<textarea type="text" class="form-control" id="donOpinion" name="donOpinion" th:text="${tbDon.donOpinion}"  required></textarea>
					</div>
					<div class="form-group col-md-5"></div>
					<div class="form-group col-md-12"></div>


					<div class="form-group col-md-4"></div>
					<div class="form-group col-md-3">

						<button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
						<button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript">


</script>
</body>
</html>