<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.xiaoyou_index.mapper.TbSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgy.tools.entity.TbSpec">
        <id column="spec_id" property="specId" />
        <result column="specname" property="specname" />
        <result column="depart_id" property="departId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        spec_id, specname, depart_id
    </sql>

</mapper>
