<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>校友管理-校友会管理-添加</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords" content="审核">
	<meta name="author" content="yinqi">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">

</head>
<body>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">

				<form action="/ass/updateAssById" method="post" class="row" >
					<input type="hidden" name="assId" >
					<div class="form-group col-md-12"></div>
					<div class="form-group col-md-3">
						<label for="assName">校友会名称</label>
						<input type="text" class="form-control" id="assName" name="assName" />
					</div>

					<div class="form-group col-md-12"></div>
					<div class="form-group col-md-3">
						<label for="assDescription">校友会简介</label>
						<textarea type="text" class="form-control" id="assDescription" name="assDescription"  ></textarea>
					</div>

					<div class="form-group col-md-12"></div>
					<div class="form-group col-md-3">
						<label for="assGroup">QQ群</label>
						<input type="text" class="form-control" id="assGroup" name="assGroup" />
					</div>

					<div class="form-group col-md-12"></div>
					<div class="form-group col-md-3">
						<label for="assPer">会长</label>
						<input type="text" class="form-control" id="assPer" name="assPer"/>
					</div>

					<div class="form-group col-md-12"></div>
					<div class="form-group col-md-3">
						<label for="assCon">联系方式</label>
						<input type="text" class="form-control" id="assCon" name="assPer"/>
					</div>


					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
						<button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script type="text/javascript" src="/js/axios.min.js"></script>
<script type="text/javascript">


</script>
</body>
</html>