<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<div th:fragment="footer">
<!-- footer -->
<div class="footer">
	<div class="container-fluid main">
		<div class="row">


		<div class="col-md-3 footer-grid">
			<h6>关于我们</h6>
			<p style="color: #4D5259; ">咸阳师范学院校友会</p>
		</div>
		<div class="col-md-3 footer-grid">
			<h6>信息</h6>
			<ul>
				<li><a href="/news/getAllNews">新闻中心</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h6>我的主页</h6>
			<ul>
				<li><a href="/stu/myIndex">我的主页</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h6>招聘信息</h6>
			<ul>
				<li><a href="/job/getAllJob">站内招聘</a></li>
			</ul>
		</div>

		</div>
	</div>
</div>
</div>
</html>